[package]
name = "loopdev"
description = "Setup and control loop devices"
version = "0.2.1"
authors = ["Michael Daffin <michael@daffin.io>"]
license = "MIT"
documentation = "https://docs.rs/loopdev"
repository = "https://github.com/mdaffin/loopdev"
readme = "README.md"
keywords = ["loop", "losetup"]

[badges]
travis-ci = { repository = "serde-rs/serde" }

[dependencies]
errno = "0.2"
libc = "0.2"

[dev-dependencies]
tempfile = "3.1.0"
lazy_static = "1.3.0"
serde_json = "1.0.40"
serde = { version = "1.0.98", features = ["derive"] }
